.toast {
    position: fixed;
    z-index: 999;
    &.toast-t-l {
        top: 30px;
        left: 30px;
    }
    &.toast-t-r {
        top: 30px;
        right: 30px;
    }
    &.toast-b-l {
        bottom: 30px;
        left: 30px;
    }
    &.toast-b-r {
        bottom: 30px;
        right: 30px;
    }
}